apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jopper-data
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  # Uncomment and specify storageClassName if needed
  # storageClassName: standard


